@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Test.Core.Localization
@using Test.Core.Web.Pages.Distributors
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Test.Core.Distributors;
@using System.Globalization
@inject IHtmlLocalizer<CoreResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Distributors/EditModal" autocomplete="off">
    <abp-modal id="DistributorEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Distributor.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Distributor.CompanyName"/>

            <abp-input asp-for="Distributor.TaxID"/>

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>