@page
@using Microsoft.AspNetCore.Mvc.Localization
@using TestMDM.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using TestMDM.Web.Pages.TestMDM.Distributors
@using TestMDM.Distributors;
@using System.Globalization
@inject IHtmlLocalizer<TestMDMResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/TestMDM/Distributors/CreateModal" autocomplete="off">
    <abp-modal id="DistributorCreateModal">
        <abp-modal-header title="@L["NewDistributor"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Distributor.CompanyName"/>

            <abp-input asp-for="Distributor.TaxId"/>

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>