@page
@using Microsoft.Extensions.Localization
@using TestMDM.Localization
@using TestMDM.Web.Pages.TestMDM
@model TestMDM.Web.Pages.TestMDM.IndexModel
@inject IStringLocalizer<TestMDMResource> L

@{
}
<h1>TestMDM</h1>
<p>@L["SamplePageMessage"]</p>
