@page
@using Microsoft.Extensions.Localization
@using Inquiry.Localization
@using Inquiry.Web.Pages.Inquiry
@model Inquiry.Web.Pages.Inquiry.IndexModel
@inject IStringLocalizer<InquiryResource> L

@{
}
<h1>Inquiry</h1>
<p>@L["SamplePageMessage"]</p>
